{% extends 'base.html' %}

{% block content  %}
  <nav>
    <ul class="pager">
      <li class="pull-left"><a href="#" id="prev">Previous</a></li>
      <li class="pull-right"><a href="#" id="next">Next</a></li>
    </ul>
  </nav>

  <div class="photos" >
    {% for photo in pictures.photo_set.all %}
    <div class="slide">
      <div class="slide-copy col-xs-10 col-xs-offset-1" oncontextmenu="return false;">
        <img src="{{photo.image.url}}" alt="{{photo.image.name}}" class="photo img-responsive thumbnail"/>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock content%}
