<!DOCTYPE html>
{% load static from staticfiles %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">

    <title>Picly</title>
  </head>

  <body>

  <!-- Fixed navigation bar -->

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Picly/a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home <span>/</span></a></li>
            <li><a href="{% url 'gallery:links' %}">Links <span>/</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <!--/.end of navigation bar -->

  <!--/main section -->
  <div class="container-fluid wrapper">
    <div class="row row-offcanvas row-offcanvas-left">
      <div class="col-xs-12 col-sm-9">
        <div class="jumb">
          {% block content %}
          {% endblock content %}
        </div>
        <div class="wrapper"></div>

      </div><!--/.col-xs-12.col-sm-9-->
    </div><!--/row-->
  </div><!--/.container-->


  <!--/. End of main section -->
  <footer>
    <p class="text-muted">
      &copy; Picly <small>{{year}}.</small>
    </p>
  </footer>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script src="{% static 'js/collapse.js' %}"></script>
   <script src="{% static 'js/gallery.js' %}"></script>
  </body>
</html>
