<!DOCTYPE html>
{% load static from staticfiles %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <title>Omolayo Omololu</title>
  </head>

  <body>
    <!-- Facebook comment -->
    <div id="fb-root"></div>
       <script>(function(d, s, id) {
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) return;
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));</script>

       <!-- End of Facebook comment -->

  <!-- Fixed navigation bar -->

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Omolayo Omololu</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'gallery:contact' %}">Contact</a></li>
            <li><a href="{% url 'gallery:post_list' %}">Blog</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <!--/.end of navigation bar -->

  <!--/main section -->
  <div class="container-fluid wrapper">
    <div class="row row-offcanvas row-offcanvas-left">

      <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
        <div class="list-group">
          <p class="list-group-item lead active">Articles</p>
          {% for post in posts %}
            <a href="{% url 'gallery:post_detail' post.slug %}" class="list-group-item">{{post.title}}</a>
          {% endfor %}
        </div><!--/list-group -->
      </div><!--/.sidebar-offcanvas-->

      <div class="col-xs-12 col-sm-9">
        <p class="pull-left visible-xs">
          <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle Articles</button>
        </p>
        <div class="jumb">
          {% block content %}
          {% endblock content %}
        </div>
        <div class="wrapper"></div>
      </div><!--/.col-xs-12.col-sm-9-->
    </div><!--/row-->
  </div><!--/.container-->


  <!--/. End of main section -->
  <footer>
    <p class="text-muted">
      &copy; Omololu Omolayo
    </p>
  </footer>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
   <script src="{% static 'js/bootstrap.min.js' %}"></script>
   <script src="{% static 'js/gallery.js' %}"></script>
  </body>
</html>
