{% extends 'base3.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content%}

<div class="photos col-xs-12 col-sm-9">
  
  <div class="container">
    <div class="row contact">
    <div class="col-sm-4 col-sm-offset-4">
      <h2 class="lead">{{ title }}</h2>
      <form class="" action="" method="POST">{% csrf_token %}
        {{form | crispy}}
        <p><input class="btn btn-default" type="submit" name="name" value="Submit"></p>
      </form>
    </div>
  </div>
</div>
</div>

{% endblock%}
